@import 'simplebar/dist/simplebar.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e0e0ff;
}

#calc{
    display: flex;
    background-color: #0b0b2e;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#main {
    background-color: #151533;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    min-width: 360px;
    max-width: 800px;
    width: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}


#ans {
    background-color: #151533;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    min-width: 360px;
    max-width: 800px;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}
#ansoutput {
    display: flex;
    height: 100%;
    background-color: #0b0b2e;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
#ans1 {
    background-color: #202060;
    border: 1px solid #2a2a6e;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 10px;
    width: 450px;
    max-width: 100%;
}



#output {
    display: flex;
    min-height: 130px;
    background-color: #0b0b2e;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#latexdisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #202060;
    border: 1px solid #2a2a6e;
    border-radius: 5px;
    max-height: 120px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    color: #d493ff;
    position: relative;
}

#latexdisplay .previous-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.8;
    filter: blur(4px);
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#latexdisplay .error {
    position: relative;
    z-index: 1;
    color: #c6c6ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    background: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

#latexdisplay .MathJax {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
    padding: 10px;
}


.scrollable-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    color: #d493ff;
    position: relative;
}
.simplebar-scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}
#latexdisplay .simplebar-scrollbar::before {
    height: 8px !important;
    min-height: 8px !important;
    max-height: 8px !important;
    background-color: #d493ff !important;
    border-radius: 5px !important;
    opacity: 0;
    transition: opacity 0.3s;
}
#latexdisplay .simplebar-scrollbar.simplebar-visible::before {
    opacity: 0.5;
}
.simplebar-content-wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
}
#latexdisplay .simplebar-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}





#export {
    display: flex;
    background-color: #0b0b2e;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}


#main-inputs {
    display: flex;
    background-color: #202060;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 7px;
    border-radius: 10px;
}

#keyinputs {
    width: 100%;
    background-color: #2a2a6e;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
    caret-color: white;
}
#keyinputs::selection {
    background-color: #5555ff;
    color: #ffffff;
}
#parameters{
    width: 100%;
    height:30px;
    background-color: #2a2a6e;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
    caret-color: white;
}

.enter{
    width: 20%;
}






/* Style the custom dropdown container */
.custom-dropdown {
    position: relative;
    width: 100%;
}

/* Style the dropdown options container */
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #2a2a6e;
    border: 2px solid #5555ff;
    border-radius: 5px;
    margin-top: 5px;
    display: none; /* Hidden by default */
    z-index: 1000;
}

/* Style individual options */
.dropdown-options div {
    margin: 5px 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    white-space: pre-wrap; /* Allow wrapping for long text */
    position: relative;
    padding: 10px;
    cursor: pointer;
}

/* Specific styles for types */
.option-class {
    background-color: #3b82f6; /* Box color */
}

.option-function {
    background-color: #22c55e; /* Box color */
}

.option-property {
    background-color: #f59e0b; /* Box color */
}

.option-method {
    background-color: #ef4444; /* Box color */
}

/* Style for spans within options */
.dropdown-options span {
    display: inline-block; /* Make it a block element */
    padding: 4px 8px; /* Add padding inside the box */
    border-radius: 3px; /* Round corners */
}

/* Hover effect */
.dropdown-options div:hover {
    opacity: 0.9; /* Slightly transparent on hover */
}

/* Active state for keyboard navigation */
.dropdown-options div.active {
    background-color: rgba(255, 255, 255, 0.2); /* Light background to indicate active state */
}

/* Unknown option styling */
.option-unknown {
    color: grey;
}

/* Class name styling */
.class-name {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 12px;
    color: white; /* Small and white */
    background-color: rgba(0, 0, 0, 0.5); /* Optional, adds contrast */
    padding: 2px;
}










#keys {
    display: flex;
    gap: 10px;
    background-color: #0b0b2e;
    padding: 10px;
    border-radius: 10px;
}

#set-keys1, #set-keys2, #set-keys3 {
    display: grid;
    gap: 7px;
    padding: 7px;
    border-radius: 5px;
    flex: 1;
}

#set-keys1 {
    grid-template-columns: repeat(4, 65px);
    background-color: #202060;
}

#set-keys2 {
    grid-template-columns: repeat(2, 1fr);
    background-color: #202060;
}

#set-keys3 {
    max-height: 208px;
    min-width: 250px;
    background-color: #202060;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#set-keys3 .simplebar-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 7px;
    column-gap: 7px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#set-keys3 button {
    width: 73px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#set-keys3 .MathJax {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
}

.simplebar-content::before{
    opacity: 0;
    content: none !important; 
}
.simplebar-content::after {
    content: none !important;
}
#set-keys3 .simplebar-scrollbar::before {
    background-color: #505080;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
#set-keys3 .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

#set-keys3 .simplebar-scrollbar {
    width: 10px;
    padding: 0;
}

#set-keys3 .simplebar-track:hover .simplebar-scrollbar::before {
    background-color: #6060a0;
}

button {
    background-color: #2a2a6e;
    color: #e0e0ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    max-height: 43px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333399;
}

.operator-btn {
    background-color: #333399;
}

.operator-btn:hover {
    background-color: #4d4db8;
}

.backspace {
    grid-column: span 2;
}

.space {
    grid-column: span 2;
}

.clear {
    grid-column: span 2;
}


.back, .forward, .backspace, .enter, .space, .clear, .enter  {
    background-color: #3a3a8c;
}

.equals:hover, .back:hover, .forward:hover, .backspace:hover, .space:hover, .clear:hover .enter:hover{
    background-color: #4d4db8;
}

.backspace, .space {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a8c;
    color: #e0e0ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.backspace:hover, .space:hover {
    background-color: #4d4db8;
}

.backspace img {
    fill: white;
    width: 30px;
    height: 35px;
}

.space img {
    fill: white;
    width: 100px;
    height: 40px;
}

.back, .forward {
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a8c;
    color: #e0e0ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back:hover, .forward:hover {
    background-color: #4d4db8;
}

.back img, .forward img {
    fill: white;
    width: 30px;
    height: 35px;
}

#hiddenLatexDisplay {
    display: none; /* Hide the mimicking container */
}
.marker {
    color: red;
    font-weight: bold;
}
